<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>https://archive.org/download/hexer-2.1-1715733795/Hexer_2.1_1715733795.ipa</string></dict><dict><key>kind</key><string>full-size-image</string><key>needs-shine</key><true/><key>url</key><string>https://archive.org/download/img-8401_20240317/IMG_8401.jpeg</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true/><key>url</key><string>https://archive.org/download/img-8401_20240317/IMG_8401.jpeg</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.hans.Hexer</string><key>bundle-version</key><string>1</string><key>kind</key><string>software</string><key>subtitle</key><string>scores</string><key>title</key><string>
"B52-PRO
</string></dict></dict></array></dict></plist>